docker-compose.yml
__pycache__
_old
_wip
.DS_Store
presentation_files
.env
*.env
*.pgdump
*.pyc
build
dist
mindframe.egg-info
docs/mi/transcripts/*
sources/AnnoMI-full.csv
mindframe/telegram-commands.txt
mindframe/scratch.py
mindframe/scratch.py
matrix_crypto_store/*
matrix_session.json
