{% extends "admin/change_form.html" %}

{% block object-tools-items %}
    <li>
        <a class="" href="{{ original.get_export_url }}" >Export</a>
    </li>
    <li>
        <a class="" href="{{ new_session }}" >Start new chat session</a>
    </li>
    <li>
        <a class="" href="{{ diagram }}" >Diagram</a>
    </li>
    
    {{ block.super }}
    
{% endblock %}


{% block field_sets %}
<hr>

Link to allow user to start and ANONYMOUS chat session with this intervention:

<p><input type="text" value= "{{start_new_chat_link}}" style="width:20em;"></p>




<hr>
<div class="mermaid">
    {{ mermaid|safe }}
</div>
<hr>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({ startOnLoad: true });
</script>

{{block.super}}

{% endblock %}
