{% extends "admin/change_form.html" %}

{% block object-tools-items %}
    <li>
        <a class="" href="{{ start_new_chat_link }}" >Start test chat session</a>
    </li>

    <li>
        <a class="" href="{% url 'create_referal' %}" >Refer a new user to this Intervention</a>
    </li>

    <!-- <li>
        <a class="" href="{{ diagram }}" >Diagram</a>
    </li> -->

    {{ block.super }}

{% endblock %}


{% block field_sets %}
<hr>





<hr>
<div class="mermaid">
    {{ mermaid|safe }}
</div>
<hr>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({ startOnLoad: true });
</script>

{{block.super}}

{% endblock %}
