{% extends "base.html" %}
{% block content %}
    <h1>Interventions</h1>

    {% for i in object_list %}
    <hr>
        <div class="row">
            <div class="col-5">
                <h2>{{i.title}}</h2>
                <ul>
                    <li>Short code: <code>{{i.slug}}</code></li>
                    <li>Default chat model: {{i.default_conversation_model}}</li>

                </ul>
                <a class="btn btn-sm btn-outline-danger mr-1" href="{% url 'start_gradio_chat' i.slug %}">Start Chat</a>

                <a class="btn btn-sm btn-outline-primary" href="{% url 'admin:mindframe_intervention_change' i.id %}">Edit</a>



            </div>
            <div class="col-7">
                <div class="mermaid">
                    {{ i.mermaid|safe }}
                </div>
            </div>
        </div>

        </p>

    {% endfor %}



    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        mermaid.initialize({ startOnLoad: true });
    </script>


{% endblock %}
