---
title: Examples of adding open questions
tags:
    - open.questions
---

<!--

Examples are sepatated by a horizontal rule.
They usually consist of client and therapist talk,
with a short comment describing why they are useful.

-->


> The therapist makes it clear the client can determine the scope of their answers.

THERAPIST: Uh, what else can you tell me about your drinking?
CLIENT: Well, I usually drink when I'm at home trying to unwind, and I drink while I'm watching a movie. And sometimes, um, I take a bath, but I also drink when I take a bath sometimes.


---


> The therapist allows space for self-reflection and clarification.

THERAPIST: Well, how do you think your drinking relates to the depression you've experienced?
CLIENT: Well, to be honest, I drink sometimes when I'm feeling down and I find it more interesting and not so blur.
THERAPIST: Okay. And how do you feel after you drink?
CLIENT: Well, then I feel blur again.
