{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-6">
  <h3>LLM Tools</h3>
  <hr>
  <ul>
    {% for tool in tools %}
      <li>
        <a href="{% url 'tool_input' tool.id %}">{{ tool.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <hr>
  <!-- button to add a new  -->
  <a href="{% url 'admin:llmtools_tool_add' %}" class="btn btn-primary">Add Tool</a>
  </div>

  <div class="col-6">
  <h3>Job Groups</h3>
  <ul>
    {% for jobgroup in jobgroups %}
      <li>


        <a href="{% url 'jobgroup-detail' jobgroup.id %}">
        {{jobgroup.modified}}</a>
        <b>{{ jobgroup.tool.name }}</b>

        {{jobgroup.complete|yesno:"Completed,In progress"}}
        {% if jobgroup.complete %}
            <span style="color:green;">&#10004;</span>  {# ✔ U+2714 #}
            {% else %}
            <span style="color:red;">&#10060;</span>   {# ❌ U+274C #}
        {% endif %}


      </li>
    {% endfor %}
  </div>

{% endblock %}




<hr>
