{% extends "base.html" %}

{% block content %}

<div class="row">

    <h3 class="col-12 mb-4">LLM Tools</h3>


    <div class="col">
      <p>
        Mindframe tools are simple ways to template LLM primpts, that can be used to automate tasks, especially when working with large numbers of documents.
      </p>

    </div>

    <div class="col">
      <h5>Available tools</h5>
  <ul class="list-group mb-4">
    {% for tool in tools %}
      <li class="list-group-item">
        <a href="{% url 'tool_input' tool.id %}">{{ tool.name }}</a>
      </li>
    {% endfor %}
  </ul>


  <!-- button to add a new  -->
  <a href="{% url 'admin:llmtools_tool_add' %}" class="btn btn-success">Create New Tool</a>
  </div>


  {% if jobgroups %}
  <div class="col">
  <h5>Previous Jobs</h5>
  <ul>
    {% for jobgroup in jobgroups %}
      <li>
        {{jobgroup.created}}

        (Last update <a href="{% url 'jobgroup-detail' jobgroup.id %}">
        {{jobgroup.modified}}</a>)
        <b>{{ jobgroup.tool.name }}</b> {{jobgroup.status}}
        {% if jobgroup.complete and not jobgroup.cancelled %}
            <span style="color:green;">&#10004;</span>  {# ✔ U+2714 #}
            {% else %}
            <span style="color:red;">&#10060;</span>   {# ❌ U+274C #}
        {% endif %}


      </li>
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}




<hr>
