{% extends "base.html" %}
{% block content %}
<h1>Compare RAG and HyDE</h1>


<div class="row">
    <div class="col-4 ">
        
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Compare</button>
        </form>
        
    </div>
    
    <div class="col-8">
        
        
        <div class="row">
            <div>
                {% if intervention %}
                    <h4>Intervention: {{ intervention.title }}</h4>
                {% endif %}
            </div>
            
            <div class="col-6">
                <h5>Semantically similar examples</h5>
                {% if rag_results %}
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Results similar to original query</h6>
                            <ul>
                                {% for result in rag_results %}
                                    <li>{{ result }}</li>
                                {% endfor %}
                            </ul>
                                
                        </div>
                    </div>
                {% else %}
                        <p>No results</p>
                {% endif %}
                
                
            </div>
            
            <div class="col-6">
                <h5>HyDE results</h5>
                {% if hyde_results %}
            
                
                
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Hypothetical document</h6>
                        <p class="small">{{hyde_query.output}}</p>
                            
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Results similar to hypothetical document</h6>
                        <ul>
                            {% for result in hyde_results %}
                                <li>{{ result }}</li>
                            {% endfor %}
                        </ul>
                            
                    </div>
                </div>
                            
                
                {% else %}
                    <p>No results</p>
                
                {% endif %}
                
        
        
            </div>
            
        </div>
        
    </div>
    
    
</div>



{% endblock %}
