{% extends "base.html" %}
{% load pretty %}
{% load turns %}
{% load examples %}
{% load notes %}
{% load guidance %}
{% block content %}
<div class="container mt-5">
    <h1>Treatment Session Detail</h1>

    <hr class="mt-3">
    <div class="row mb-4">
        <div class="col-6">
            <p>
                Session:
                    {{ session }} [<code>{{session.uuid}}</code>]
                    <a href="{% url 'admin:mindframe_treatmentsession_change' session.pk %}">+</a>
            </p>

            {% if session.synthetic_conversations.count %}
            <p>
                {% for i in session.synthetic_conversations %}
                Part of a synthetic conversation: <a href="{% url 'synthetic_conversation_detail' i.pk %}">{{ i.pk }}</a>
                {% endfor %}
            </p>
            {% endif %}

            <p>
                Intervention: <a href="{% url 'admin:mindframe_intervention_change' session.cycle.intervention.pk %}">{{ session.cycle.intervention }}</a>
            </p>

            <p>
                Current step:
                <a href="{% url 'admin:mindframe_step_change' session.current_step.pk %}">{{ session.current_step.title }}</a>
            </p>

        </div>

        <div class="col-6">
            <a class="btn btn-primary" href="{{session.chatbot_link}}">Continue conversation</a>
        </div>

    </div>
    <hr>
    <div class="row">

        <div class="col-6"><h5>Conversation</h5></div>
        <div class="col-6"><h5>Notes/LLM Calls</h5></div>

        <style>
            pre {
                white-space: pre-wrap; /* Enable wrapping */
                word-wrap: break-word; /* Break long words if necessary */
                overflow-wrap: break-word; /* Compatibility for older browsers */
            }
        </style>
    {% regroup turns by session_state as state_turns %}
    {% for group, turns in state_turns %}

    <div class="row">
    <div class="col-12">
       <h6>Step: {{group.step.title}}
    </h6>
    </div>
    </div>

    <style>
        .speech { font-family: 'Courier New', Courier, monospace;
    font-size:16pt;}

    </style>
    {% for turn in turns %}
    <hr>
    <div class="col-6">
    <div class="row">
        <div class="col-1">
            <a href="{% url 'admin:mindframe_turn_change' turn.id %}">{{forloop.counter}}.
            </a>
        </div>

        <div class="col mb-4 speech">
            <b>{{turn.speaker.username.upper}}: &nbsp;&nbsp;&nbsp;&nbsp;</b>

            {{turn.text}}

        </div>

    </div>

    </div>


    <div class="col-6 small">
        {% with turn.llm_calls.all as turncalls %}

        {% for call in turncalls %}
        <b>
            {% if call.step %}
            <span class="badge bg-success">Step</span>
            {{call.step.title}}: <code>{{call.variable_name}}</code>
            {% endif %}
            {% if call.judgement %}
             <span class="badge bg-danger">Judgement</span>
            {{call.judgement.title|default:""}}: <code>{{call.variable_name}}</code>
            {% endif %}


        </b>
        <a href="{% url 'admin:mindframe_llmlog_change' call.id %}">+</a>
        <p>
<pre style="color: rgb(60, 60, 60);">
{{call.message}}
</pre>

</p>
        {% endfor %}
        {% endwith %}

        <a  class='btn btn-sm btn-outline-success mb-4 float-end ' href="{% url 'admin:start_again_from_turn' turn.pk %}">Start again from here</a>
    </div>

    {% endfor %}
    {% endfor %}
</div>
</div>
{% endblock %}
