<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Group Details</title>
    {% if not all_complete %}
    <meta http-equiv="refresh" content="30">
    {% endif %}
</head>
<body>
    <h1>Job Group Details {{jobgroup.id}}</h1>
    <h2>Tool: {{ jobgroup.tool.name }}</h2>
    <a href="{% url "admin:llmtools_jobgroup_change" jobgroup.id %}">Edit</a>
    <ul>
        {% for job in jobs %}
        <li>
            Job ID: {{ job.id }} - Completed: {{ job.completed|yesno:"Yes,No" }}
        </li>
        {% endfor %}
    </ul>
    {% if all_complete %}
    <p>All jobs are complete.</p>
    {% else %}
    <p>Some jobs are still in progress. This page will refresh every 30 seconds.</p>
    {% endif %}

    <h3>Results</h3>
    <pre style="white-space: pre-wrap;">
        {{jobgroup.json}}
    </pre>

</body>
</html>
