{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
{{block.super}}

{% if not jobgroup.complete %}
<meta http-equiv="refresh" content="10">
{% else %}
<!-- No refresh -->
{% endif %}
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">


            <h1 class="col-12 mb-4">Job Group:
                <code>{{jobgroup.id}}</code>
            </h1>

        <div class="col-6">




             {% if jobgroup.in_progress %}
             <button
                class="float-end btn btn-danger"
                hx-post="{% url 'action' app='llmtools' model='JobGroup' identifier=jobgroup.pk %}"
                hx-vals='{"action": "cancel_jobs"}'
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-swap="outerHTML"
                hx-target="this">
                Cancel jobs
            </button>
            {% endif %}

            <h5>Status</h5>

             <li class="mb-2">
                Tool used:
        <a href="{{jobgroup.tool.get_absolute_url}}">{{jobgroup.tool.name}}</a>
            </li>

            <li>Status: {{ jobgroup.status }}
            <li>All jobs completed: {{jobgroup.complete}}</li>
            <li>Cancelled: {{jobgroup.cancelled}}</li>

            </li>

            <li class="mt-2">
                <a href="{% url "admin:llmtools_jobgroup_change" jobgroup.id %}">Details</a>
            </li>


<h5 class="mt-4">Jobs</h5>

    <ul style="list-style-type: none;">
        {% for job in jobs %}
        <li>

            {% if job.cancelled %}
            <span>Cancelled</span>
            {% endif %}

            <p class="small col-11" style="word-break: break-all;">
            {% if job.completed and not job.cancelled %}
                <span style="color:green;">&#10004;</span>  {# ✔ U+2714 #}
            {% else %}
                <span style="color:red;">&#10060;</span>   {# ❌ U+274C #}
            {% endif %}

                {{ job }}
            </p>



        </li>
        {% endfor %}
    </ul>
    {% if all_complete %}
    <p>All jobs are complete.</p>
    {% else %}
    <p>Some jobs are still in progress. This page will refresh every 10 seconds until it's complete.</p>
    {% endif %}

    <hr class="mb-5">
</div>

<div class="col-6">

<h5>Results
    &nbsp;&nbsp;
    <button class="btn btn-sm mb-2 btn-outline-primary" onclick="copyJSON()">
        Copy JSON</button>
</h5>

<pre class="card card-body small" id="json-output" style="white-space: pre; font-size:.7em;">{{ jobgroup.json }}</pre>

<script>
function copyJSON() {
    const jsonText = document.getElementById("json-output").textContent;
    navigator.clipboard.writeText(jsonText).then(() => {
        alert("JSON copied to clipboard.");
    }).catch(err => {
        alert("Failed to copy: " + err);
    });
}
</script>

</div>

</div>

</div>
</div>
{% endblock %}
